@model E_Comerce.Repartidores

@{
    //ViewBag.Title = "Eliminar";
    Layout = null;
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar este regitro?</h3>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Inserta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Inserta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inserta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inserta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Actualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Actualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Actualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Actualiza)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="modal-footer form-group">
        <a class="btn btn-dark" href="@Url.Action("Index")">
            <i class="fa fa-arrow-circle-left"></i>
            Cancelar
        </a>
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </div>

    }
</div>
