@model IEnumerable<E_Comerce.Vw_Repartidor>

@{
    ViewBag.Title = "Index";
}

<div class="modal fade" id="demo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <h1 class="modal-title fs-5" id="exampleModalLabel">StarTech</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fas fa-motorcycle me-1"></i>
                Repartidores
            </div>
            <div class="col-6 d-md-flex justify-content-md-end">
                <a class="btn btn-success" id="btnAgregar" href="#demo" data-bs-toggle="modal">
                    <i class="fas fa-plus-circle"></i>Agregar Repartidor
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table class="table" width="100%">
            <thead>
                <tr>
                    <th>
                        Repartidor
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UltimaFechaActualiza)
                    </th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repartidores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UltimaFechaActualiza)
                        </td>

                        <td>
                            <a class="btnEditar btn btn-info" href="#demo" data-bs-toggle="modal" data-id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btnDetail btn btn-dark" href="#demo" data-bs-toggle="modal" data-id="@item.Id">
                                <i class="fas fa-file"></i>
                            </a>
                            <a class="btn btn-danger btnEliminar" href="#demo" data-bs-toggle="modal" data-id="@item.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/JSPersonalizados/Repartidor.js"></script>
    <script>
        $('.table').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    </script>
}

