@model E_Comerce.vw_DetalleVenta

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ID_Venta)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ID_Venta)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
           
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
           
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Usuario_Inserta)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Usuario_Inserta)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fecha_Inserta)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fecha_Inserta)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Usuario_Actualiza)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Usuario_Actualiza)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fecha_Actualiza)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fecha_Actualiza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new {@class="btn btn-primary"})
</p>