@model IEnumerable<E_Comerce.vw_DetalleVenta>
@{
    ViewBag.Title = "Index";
}
<!-- Modal -->
<div class="modal fade" id="ModalDetalleVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de Ventas</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Cargando...
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fa fa-cash-register"></i>
                Detalles de venta
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="Tabla" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_Venta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descuento)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Venta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProducto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descuento)
                        </td>
                        <td>
                            <a class="btnEditar btn btn-outline-secondary" href="#ModalDetalleVenta" data-bs-toggle="modal" data-id="@item.ID_DetalleVenta">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btnDetailles btn btn-outline-secondary" href="#ModalDetalleVenta" data-bs-toggle="modal" data-id="@item.ID_DetalleVenta">
                                <i class="fas fa-file"></i>
                            </a>
                            <a class="btn btn-outline-secondary btnEliminar" href="#ModalDetalleVenta" data-bs-toggle="modal" data-id="@item.ID_DetalleVenta">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/JSPersonalizados/DEtalleVentas.js"></script>
    <script>
        $('.Tabla').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    </script>
}