 @model IEnumerable<E_Comerce.vw_Venta>
@{
    ViewBag.Title = "Index";
}
<!-- Modal -->
<div class="modal fade" id="ModalDetalleVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Ventas</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Cargando...
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fa fa-cash-register"></i>
                Resumen de Ventas
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="Tabla" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_Venta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrecioTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DescuentoTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Venta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescuentoTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("Edit","ModificarVentas",new {id = item.ID_Venta})">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-dark" href="@Url.Action("Details","ModificarVentas",new {id = item.ID_Venta})">
                                <i class="fas fa-file"></i>
                            </a>
                            <a class="btn btn-danger btnEliminarVenta" href="#ModalDetalleVenta" data-bs-toggle="modal" data-id="@item.ID_Venta">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/JSPersonalizados/DetalleVent.js"></script>
    <script>
        $('.Tabla').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    </script>
}