@model IEnumerable<E_Comerce.Categorias>

@{
    ViewBag.Title = "Index";
}

<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fas fa-list-alt me-1"></i>
                    Categorias
            </div>
            <div class="col-6 d-md-flex justify-content-md-end">
                <a class="btn btn-success" href="@Url.Action("Create", "Categoria")">
                    <i class="fa fa-plus-circle"></i>
                    Agregar categoria
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario_Inserta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Inserta)
                    </th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario_Inserta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Inserta)
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("Edit", "Categoria", new { id = item.ID_Categoria })">
                                <i class="fa fa-pen"></i>
                            </a>
                            <a class="btn btn-dark" href="@Url.Action("Details", "Categoria", new { id = item.ID_Categoria })">
                                <i class="fa fa-book"></i>
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Categoria", new { id = item.ID_Categoria })">
                                <i class="fa fa-trash-alt"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $('.table').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    </script>
}
