@model IEnumerable<E_Comerce.Categorias>

@{
    ViewBag.Title = "Index";
}


<h2> <i class="fa fa-list-alt"></i> Categorias</h2>

<p>
    &nbsp;
</p>
<p>
    <a class="btn btn-success" href="@Url.Action("Create", "Categoria")">
        <i class="fa fa-plus-circle"></i>
        Agregar categoria
    </a>

</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_Inserta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inserta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_Actualiza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Actualiza)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_Inserta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inserta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_Actualiza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Actualiza)
            </td>
            <td>

                <a class="btn btn-dark" href="@Url.Action("Details", "Categoria", new { id = item.ID_Categoria })">
                    Detalles
                    <i class="fa fa-book"></i>
                </a>
                <a class="btn btn-info" href="@Url.Action("Edit", "Categoria", new { id = item.ID_Categoria })">
                    <i class="fa fa-pen"></i>
                </a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Categoria", new { id = item.ID_Categoria })">
                    <i class="fa fa-trash-alt"></i>
                </a>

            </td>
        </tr>
    }

</table>
