@model IEnumerable<E_Comerce.vw_Carrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutCarrito.cshtml";
}

<h2>Detalle Carrito</h2>

<div class="row mt-5 pt-5 p-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-details mr-2">
                        <div class="d-flex justify-content-between">
                            <span class="ml-2">Detalle Compra</span>
                            <a class="btn btn-danger" href="@Url.Action("Index","DetalleCompras")">Volver</a>
                        </div>

                        <table class="table">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.NombreProducto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Precio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.descuento)
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreProducto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Precio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descuento)
                                    </td>
                                    <td>

                                        
                                        <button type="button" id="myBtn" class="btn btn-success">+</button>
                                        <button type="button" id="myBtn2" class="btn btn-danger">-</button>
                                       



                                            <a class="btnUpdate btn btn-outline-dark" href="#demo" data-bs-toggle="modal" data-id="@item.ID_Producto">
                                                <i class="fa fa-undo-alt"></i>
                                            </a>
                                            <a class="btnDetail btn btn-outline-primary" href="#demo" data-bs-toggle="modal" data-id="@item.ID_Producto">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="btnDelete btn btn-outline-dark btnDelete" href="#demo" data-bs-toggle="modal" data-id="@item.ID_Producto">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                    </td>


                                    @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>*@
                                </tr>
                            }

                        </table>
                        <hr class="mt-2 mb-2">
                        <div class="justify-content-start mb-2">
                            Tienes <span id="cantidad-articulos" class="ml-1">0</span> artículo(s) en tu carrito
                        </div>

                        <div id="productos-seleccionados">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






