@model E_Comerce.Usuarios

@{
    ViewBag.Title = "Delete";
}

<h3>Estas seguro de eliminar este usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Inserta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Inserta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inserta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inserta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Actualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Actualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Actualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Actualiza)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-dark" href="@Url.Action("Index", "Usuarios")">
                <i class="fa fa-arrow-circle-left"></i>
                volver
            </a>
            <input type="submit" value="Eliminar" class="btn btn-warning" />
        </div>
    }
</div>
