@model IEnumerable<E_Comerce.Usuarios>

@{
    ViewBag.Title = "Index";
}
<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <i class="fas fa-user me-1"></i>
                Usuarios
            </div>
            <div class="col-6 d-md-flex justify-content-md-end">
                <a class="btnAgrega btn btn-success" href="@Url.Action("Create")">
                    <i class="fas fa-plus-circle"></i>Agregar Usuario
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table" width="100%">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_Rol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CorreoElectronico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clave)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario_Inserta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Inserta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario_Actualiza)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Actualiza)
                    </th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Rol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CorreoElectronico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario_Inserta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Inserta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario_Actualiza)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Actualiza)
                        </td>
                        <td>
                            <a class="btn btn-info btnEditar" href="@Url.Action("Edit", new {id=item.ID_Usuario})" >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-dark btnDetalles" href="@Url.Action("Details", new {id=item.ID_Usuario})">
                                <i class="fas fa-file"></i>
                            </a>
                            <a class="btn btn-danger btnEliminar" href="@Url.Action("Delete", new {id=item.ID_Usuario})">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $('.table').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    </script>

}