@model IEnumerable<E_Comerce.sp_ProMasVResult>


@{
    ViewBag.Title = "Index";
}

<h2>Informes</h2>
<br>

<div class="row">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-header text-center text-bg-dark">
                <h5>Productos mas vendidos</h5>
            </div>
            <div class="card-body">
                <canvas id="pastel" width="200" height="200"></canvas>
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header text-center text-bg-dark">
                <h5>Ventas Ultimos 3 meses</h5>
            </div>
            <div class="card-body">
                <canvas id="barras" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header  text-center text-bg-dark">
                <h5>Tabla de Valores</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Producto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Producto)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="col-lg-6">
        <div class="card">
            <div class="card-header  text-center text-bg-dark">
                <h5>Tabla de Valores</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Año
                            </th>
                            <th>
                                Mes
                            </th>
                            <th>
                                Total Ventas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.RetorV)
                        {
                            <tr>
                                <td>@item.Año</td>
                                <td>@item.Mes</td>
                                <td>@item.Total.ToString(format: "#,##0.00") </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>


        jQuery.ajax({
            url: '@Url.Action("Grafico","Informes")',
            type: "GET",
            dataType: "json",
            contentType: "aplication/json; charset=utf-8",
            success: function (data) {
                var productos = [];
                var total = [];
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    productos.push(data[i].Producto)
                    total.push(data[i].Total)

                }
                var controlpas = document.getElementById("pastel");
                var graficopie = new Chart(controlpas, {

                    type: 'pie',
                    data: {
                        labels: productos,
                        datasets: [{
                            data: total,
                            backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#8B008B','#000080'],
                        }],
                    }

                });


            },
             error: function (erorr) {
                console.log(error)
             }


        });

       jQuery.ajax({
            url: '@Url.Action("Graficobar","Informes")',
            type: "GET",
            dataType: "json",
            contentType: "aplication/json; charset=utf-8",
            success: function (data) {
                var meses = [];
                var total = [];
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    meses.push(data[i].Mes)
                    total.push(data[i].Total)

                }
                 var controlbar = document.getElementById("barras");
                 var graficobar = new Chart(controlbar, {

                    type: 'bar',
                    data: {
                        labels: meses,
                        datasets: [{
                            label:"Mes",
                            backgroundColor: ['#007bff', '#dc3545', '#ffc107'],
                            data:total,
                        }]
                     },
                     options: {
                         scales: {
                             xAxes: [{
                                 gridLines: {
                                     display: false
                                 }
                             }],
                             yAxes: [{
                                 gridLines: {
                                     display: true
                                 }
                             }]
                         }
                     }

                });


           },
              error: function (erorr) {
                console.log(error)
              }


        });

    </script>
}
