@model IEnumerable<E_Comerce.V_Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadDisponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimoUsuarioActualiza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimoFechaActualiza)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDisponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimoUsuarioActualiza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimoFechaActualiza)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Producto }) |
            @Html.ActionLink("Details", "Details", new { id= item.ID_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
